.map-container {
    height: 80vh;
    width: 100%;
    position: relative;
    z-index: 0;
}

.map-button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 500;
}

.return-button, .goal-button {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.2s ease-in-out;
}

.return-button:hover, .goal-button:hover {
    background: rgba(255, 255, 255, 1);
    transform: scale(1.1);
}

.return-button:active, .goal-button:active {
    transform: scale(0.9);
}